<link href="~/html/css/shopstyle.css" rel="stylesheet" />
<script src="~/html/js/keycode.js"></script>
<style>
    a:focus {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-box-shadow: 0 0 10px rgba(191,25,37,1);
    }

    #ulContent a:focus {
        -webkit-transform: scale(1.1);
        -webkit-box-shadow: 0 0 10px rgba(191,25,37,1);
    }

    #ulCategory a:focus {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-box-shadow: none;
    }
    #divCart a:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
         -webkit-transform: scale(1.1); 
        -webkit-box-shadow: none;
    }
    button:focus {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-box-shadow: 0 0 25px rgba(191,25,37,1);
    }
</style>
<body>
    <!--left menu-->
    <div class="left" id="divLeft">
        <ul class="nav" id="ulCategory" />

    </div>
    <div class="cart" id="divCart">
        <a id="locationCart" href="@Url.Content("~/HotelCommodity/shopCart")">
            <p>
                购物车
                <span class="numbers" id="txtTotalNum">0</span>
            </p>

            <div class="price" id="txtTotalPrice">¥0</div>
        </a>
    </div>
    <!--content-->
    <div class="divContent">
        <div class="page" id="divPage">
            <ul class="content" id="ulContent"></ul>
        </div>
        <!--分页-->
        <div class="bottom" id="divBottom"  >
            <button id="btnPrev" class="prev"  style="display:none"><</button>
            <span id="txtPageIndex"></span>/<span id="txtTotalPage"></span>
            <button id="btnNext" class="next" style="display:none" >></button>
        </div>
    </div>
    <!--shopping cart-->

    <script type="text/javascript">

        $(document).ready(function (e) {

            getPageData('@ViewBag.hotelId');
            updateCartTip();
            document.onkeydown = keyFunction;

            // 加入购物车显示与隐藏
            $("#ulContent").on("focus", "a", function (e) {
                $(e.target).find("div").css("display", "block");
            });
            $("#ulContent").on("blur", "a", function (e) {
                $("#ulContent li div").css("display", "none");

            });


            // 加入购物车显示与隐藏
            $("#ulCategory").on("focus", "a", function (e) {
                localStorage.currentCategory = $(e.target).attr("location");
            });
        });


        //绑定分页

        function bindItemOption() {
            var pageSize = 8;
            var ulPageSize = $("#ulContent li").length;
            var total = Math.ceil(ulPageSize / pageSize);
            $("#btnNext").unbind("click");
            $("#btnPrev").unbind("click");
            $("#btnPrev").removeAttr("disabled");
            $("#btnNext").removeAttr("disabled");
            if (total == 1) $("#btnNext").attr("disabled", "disabled");
            document.getElementById("txtTotalPage").innerHTML = total;
            var current = 1;
            showPageIndex(current);
            $("#ulContent li:gt(" + (pageSize - 1) + ")").hide();
            $("#btnPrev").attr("disabled", "disabled").click(function () {
                console.log("current:------------------"+current);
                if (current == 1) return;
                $("#btnNext").removeAttr("disabled");
                current -= 1;
                $("#ulContent li").show();
                var indexStart = (current - 1) * pageSize;
                var indexEnd = indexStart + pageSize - 1;
                $("li:lt(" + indexStart + "), li:gt(" + indexEnd + ")", $("#ulContent")).hide();
                showPageIndex(current);
                if (current == 1) $(this).attr("disabled", "disabled");
                var y = (2 * current) - 1;
                $("a[location='1,"+y+"']").focus();
            });
            $("#btnNext").click(function () {
                $("#btnPrev").removeAttr("disabled");
                if (current == total) return;
                current += 1;
                $("#ulContent li").show();
                var indexStart = (current - 1) * pageSize;
                var indexEnd = current * pageSize - 1 > ulPageSize - 1 ? ulPageSize - 1 : current * pageSize - 1;
                $("li:lt(" + indexStart + "), li:gt(" + indexEnd + ")", $("#ulContent")).hide();
                showPageIndex(current);
                if (current == total) $(this).attr("disabled", "disabled");
                var y = (2 *current) - 1;
                $("a[location='1," + y + "']").focus();
                
            });

        }

        //分页
        function bindPageItem(ul, pageSize) {
            var ulPage =$("#"+ul+""); 
            var ulPageSize = ulPage.find("li").length;
            //总页数
            var total = Math.ceil(ulPageSize / pageSize);
            var current = 1;
            //显示页码信息
            document.getElementById("txtTotalPage").innerHTML = total;
            showPageIndex(current);

            $("li:gt(" + (pageSize - 1) + ")",ulPage).hide();
            $("#btnPrev").click(function () { 
                if (current == 1) return;
                current -= 1;
                bindPageItemOption(ulPage, current, pageSize, ulPageSize);
            });
            $("#btnNext").click(function () { 
                if (current == total) return;
                current += 1;
                bindPageItemOption(ulPage, current, pageSize, ulPageSize);
            });

        }
        //分页显示
        function bindPageItemOption(ulPage, current, pageSize, ulPageSize) {
            ulPage.find("li").show(); 
            var indexStart = (current - 1) * pageSize;
            var indexEnd = current * pageSize - 1 > ulPageSize - 1 ? ulPageSize - 1 : current * pageSize - 1;
            $("li:lt(" + indexStart + "), li:gt(" + indexEnd + ")", ulPage).hide();
            showPageIndex(current);
            var y = (2 * current) - 1;
        
            $("a[location='1," + y + "']").focus();
            //document.getElementById("txtPageIndex").focus();
        }

        function showPageIndex(index) {
            document.getElementById("txtPageIndex").innerHTML = index;
        }

        //获取商品数据

        function getPageData(hotelId) {
            $.ajax({
                type: "GET",
                url: "/HotelCommodity/GetPageData",
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 0 && null != data.obj) {
                        if (!data.obj.category.length > 0) {
                            hideUi();
                        } else {
                            $.each(data.obj.dictionary, function (name, value) {
                                localStorage.setItem(name, JSON.stringify(value));
                            });
                            loadCategory(data.obj.category);
                        }
                    } else {
                        hideUi();
                    }
                },
                failure: function (err) {
                    hideUi();
                }
            });
        }

        function hideUi() {
            $("#divCart").css('display', 'none');
            $("#divBottom").css('display', 'none');
            $("#ulContent").html("本酒店无在售小商品");
        }
        var locationStr = "location";


        //加载目录
        //location x=0,y++;
        function loadCategory(list) {
            var html = "";
            for (var i = 0; i < list.length; i++) {
                var category = list[i];
                var location = locationStr + "=\"0," + i + "\"";
                html += "<li  id=\"li" + category.CategoryCode + "\" >" +
                    "<a href=\"javascript:void(0);\" " + location + " style=\"outline:none;\" onfocus=\"getItemPage(\'" + category.CategoryCode + "\')\">" + category.CategoryName + "</a>" +
                    "</li>";

            }
            $("#ulCategory").html(html);
            getItemPage(list[0].CategoryCode);
            var liObj = "li" + list[0].CategoryCode;
            $("#" + liObj + " a").focus();


        }

        //加载内容
        //location x=1++,y++
        function getItemPage(categoryCode) {
            localStorage.logicx = 1;
            localStorage.logicy = 0;
            var rowItem = 4; //行的最大数量
            var logicx = parseInt(localStorage.logicx), logicy = parseInt(localStorage.logicy);
            categorySelect(categoryCode);
            var html = "";
            var list = localStorage.getItem(categoryCode);
            list = $.parseJSON(list);
            var flag = '@ViewBag.flag';

            for (var i = 0; i < list.length; i++) {
                var item = list[i];
                //var imagePath = '@ViewBag.path' + item.Id + ".jpg";

                //todo.................测试图片
                var imagePath = "http://7u2qj5.com1.z0.glb.clouddn.com/" + item.Id + ".jpg";
                //计算x,y
                if (i % rowItem == 0) {
                    logicx = parseInt(localStorage.logicx);
                    logicy++;
                }
                var location = locationStr + "=\"" + logicx++ + "," + logicy + "\"";

                html += "<li style=\"margin:5px;\"><a id=\"item"+i+"\" href=\"javascript:void(0);\" " + location + " style=\"outline:none;\" onclick=\"itemClick('" + item.Id + "','" + item.MarketingPrice + "','" + item.Name + "','" + imagePath + "')\">";
                html += "<img src=\"" + imagePath + "\"/>";
                html += "<p>" + item.Name + "</p>";
                html += "<p>价格:￥" + item.MarketingPrice + "</p>";
                html += "<div style=\"display:none\" class=\"addToCart\">加入购物车</div>";
                if (flag) {
                    html += "<p style=\"width:400px;\">Id:" + item.Id + "</p>";

                    $("#btnPrev").attr("style", "display:block");
                    $("#btnNext").attr("style", "display:block");
                }
                html += "</a></li>";
            }
            $("#ulContent").html(html);
             
            //最大x
            localStorage.logicx = ((list.length / rowItem) > 1 ? rowItem : list.length) + parseInt(localStorage.logicx);
            localStorage.logicy = logicy;
            bindPageItem("ulContent", 8);
        }
        //更新选中状态
        function categorySelect(categoryCode) {
            $('#ulCategory').children().removeClass("select");
            var liObj = "li" + categoryCode;
            $("#" + liObj).addClass("select");

        }
        /*--------------------购物车-------------------*/
        var preStorage = "shoppingCart_";
        //加入购物车
        function itemClick(id, price, name, imagePath) {


            //查找是否有这个商品,如果存在，则更新，没有新增
            var item = localStorage.getItem(preStorage + id);
            // console.log(item);
            if (item) {
                var lastItem = JSON.parse(item);
                if (lastItem) {
                    lastItem.num = lastItem.num + 1;
                }
                localStorage.setItem(preStorage + id, JSON.stringify(lastItem));
            } else {
                var obj = {
                    'id': id,
                    'price': parseFloat(price),
                    'num': 1,
                    'name': name,
                    'imagePath': imagePath
                };

                localStorage.setItem(preStorage + id, JSON.stringify(obj));
            }
            updateCartTip();

        }

        //更新角标和总金额
        function updateCartTip() {
            var storage = window.localStorage;
            var totalNum = 0;
            var totalPrice = 0;
            // console.log(storage.length);
            for (var i = 0; i < storage.length; i++) {

                if (storage.key(i).indexOf(preStorage) >= 0) {
                    var item = storage.getItem(storage.key(i));
                    if (item) {
                        item = JSON.parse(item);
                        // console.log(item);
                        totalNum += item.num;
                        totalPrice += item.price * item.num;
                    }
                }

            }
            document.getElementById("txtTotalNum").innerText = totalNum;
            document.getElementById("txtTotalPrice").innerText = "￥" + totalPrice.toFixed(2);
        }




        /*****************   自定以按键*********************/

        function keyFunction() {
            var source = $(event.target);
            console.log(" event.keyCode........" + event.keyCode);
            var location = source.attr("location");
            if (location) {
                var strs = new Array();
                strs = location.split(",");
                var x = strs[0];
                var y = strs[1];
                if (event.keyCode == 37) {
                    left(source, x, y);
                }
                else if (event.keyCode == 39) {
                    //right(source,x,y);
                } else if (event.keyCode == 40) {
                    down(source, x, y);
                } else if (event.keyCode == 38) {
                    up(source, x, y);
                }
            }

        }
        function keyEvent(event, keycode) {

            // var source = $(event.target);
            // console.log("webView-----todosomething" + source);
            //if (keycode == code_left) {
            //    left(source);
            //}
            //else if (keycode == code_right) {
            //    right(source);
            //} else if (keycode == code_down) {
            //    down(source);
            //} else if (keycode == code_up) {
            //    up(source);
            //}
        }

        function left(source, x, y) {
            //向左，并且事件源location的x为1，选中目录
            if (x == 1)
                getCategoryFocus();

        }
        function right(source, x, y) { 

        }

        function down(source, x, y) {
            //下一页
            if (x > 0 && y == 2) {  
                $("#btnNext").trigger("click");
            }

        }
        function up(source, x, y) {
            //上一页
            if (x > 0 && y%2!=0) {
                $("#btnPrev").trigger("click"); 
            }
        }
        function getCategoryFocus() {

            $("a[location='" + localStorage.currentCategory + "']").focus();
        }

        /*****************   自定以按键*********************/
    </script>
</body>

