<link href="~/html/css/shopstyle.css" rel="stylesheet" />
<body>
    <style>
        a:focus {
            -webkit-transform: scale(1.1);
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-box-shadow: 0 0 10px rgba(191,25,37,1);
        }
    </style>
    <div class="step_tip_2">
    </div>
    <div class="webM">
        <h3>
            请选择支付方式
        </h3>
        <ul class="payWay">
            <li>
                <div class="alipay" style="text-align:center">
                    <p>支付宝-扫码支付</p>
                    <img src="http://cli.clewm.net/qrcode/2015/01/19/1519052817.png" width="250" height="250">
                </div>
            </li>

            @*<li>
                <a href="javascript:void(0)">挂帐</a>
            </li>*@
            <li>
                <a href="javascript:void(0)" onclick="frontDesk()">前台支付</a>
            </li>
        </ul>
    </div>

    <script>

        function finish(msg) {
            window.localStorage.payResult = msg;
            window.location.href = '@Url.Content("~/HotelCommodity/finish")';
        }

        function frontDesk() { 
            $.ajax({
                type: "GET",
                url: "SubmitProductSalesOrder?salesDetails=" + calcShopCart(),
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 0) { 
                        finish(data.obj.orderNo);
                    } else {

                        alert(data.obj.errMsg);
                    }
                    
                },
                failure: function (err) {
                    alert(err);
                }
            });
        }


        /*--------------------购物车-------------------*/
        var preStorage = "shoppingCart_";

        function calcShopCart() {
            var details = "";
            var storage = window.localStorage;
            for (var i = 0; i < storage.length; i++) {
                if (storage.key(i).indexOf(preStorage) >= 0) {
                    var item = storage.getItem(storage.key(i));
                    if (item) {
                        item = JSON.parse(item);

                        details += item.id + "," + item.price + "," + item.num + "|";

                    }
                }

            }
            if (details.length > 0) {
                details = details.substr(0, details.length - 1);
            }
            return details;
        }
    </script>
</body>
