<style type="text/css">
.worksbox{width:114px;height:114px;position:relative;}
.worksbox a{border:1px solid #F0F0E8;background-color:#FFF;padding:6px;display:block;}
.worksbox a:hover{border:1px solid #000;background-color:#333;text-decoration: none;}
.worksbox a span{display:none; text-align:center; font-size:12px;}
.worksbox a:hover span{color:#FFF;display:block;background-color:#333;width:114px;position:absolute;top:94px;left:0px;line-height:20px;}
.worksbox a img{width:100px;height:100px;}
</style>

<div class="worksbox" ><a href="#" id="href1"><span>本期模特【朱茵】</span><img src="http://img0.bdstatic.com/img/image/shouye/mxym-9447375568.jpg" tppabs="#http://img0.bdstatic.com/img/image/shouye/mxym-9447375568.jpg" alt="" border="0" /></a></div>
<div class="worksbox" ><a href="#" id="href2"><span>本期模特【朱茵】2</span><img src="http://img0.bdstatic.com/img/image/shouye/mxpyy-14131133470.jpg" tppabs="http://img0.bdstatic.com/img/image/shouye/mxym-9447375568.jpg" alt="" border="0" /></a></div>
<script>
    
    function loadfocus()
    {
        var obj = document.getElementById('href1');
        obj.focus();
        
    }
    function keyPressEvent(keycode) {
       
        if (document.hasFocus()) {

            console.log("h5------------keycode:" + keycode);
            var activeId = document.activeElement.id;
            console.log("activeId" + activeId);
        }
    }

   
    $(document).keydown(function (event) {
        if (document.hasFocus()) {
            console.log("hasFocus" + event.keyCode);
            //设置调用事件，使tabIndex更换后dom元素获取焦点
            //setTimeout("optionChange('" + event.keyCode + "');", 5);
            var activeId = document.activeElement.id;
            console.log("activeId" + activeId);
        }

    });
    loadfocus();
</script>