@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @YeahAppCentre.Web.Utility.StyleRenderExtension.Render("~/Content/ace/css")
    <link href="~/Scripts/ShoppingMall/shopping.css" rel="stylesheet" />
    @YeahAppCentre.Web.Utility.ScriptRenderExtension.Render("~/Content/ace/script")
    <script src="~/Scripts/ShoppingMall/shopping.js"></script>
    <script src="~/Scripts/ShoppingMall/jquery.lazyload.js"></script>
    @*<script src="~/Scripts/ShoppingMall/jQuery.asyncLoading.js"></script>*@
    <script src="~/Scripts/ShoppingMall/keycode.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        a {
            color: #fff;
        }

        .nav > li > a {
            padding: 14px 50px 25px 50px;
        }

        .nav-pills > li.active > a {
            background: url(../../Content/img/cdxz.png) top center no-repeat;
            z-index: 99;
        }

        #GoodsListDiv > .changeBG {
            background: url(../../Content/img/wpxz.png);
            background-size: 100% 100%;
            width: 35%;
            height: 35%;
            padding: 3%;
        }

        .menuchangeBG {
            opacity: 0.4;
        }

        html, body {
            margin: 0px;
            height: 100%;
        }

        ul li {
            font-size: 30px;
            margin-bottom: -5%;
        }

        .nav {
            padding-top: 20%;
        }

        .size1 {
            font-size: 16px;
        }

        #Buycar {
            border1: 1px solid yellow;
            position: relative;
        }

            #Buycar .goods {
                padding: 3% 3% 3% 3%;
                margin-bottom: 0%;
                margin-left: -3%;
                width: 100%;
                height: 25%;
                overflow: hidden;
                border1: 1px solid green;
            }

        .CarBG {
            background: url(../../Content/img/shops.png);
            background-size: 100% 100%;
            padding: 2% 2% 2% 2.2%;
            /*border1: 1px solid red;*/
        }

        #Buycar .goods:last-child {
            margin-bottom: 0px;
        }

        .btn {
            background-color: #10325f;
            height: 120%;
            width: 100%;
            color: #ffffff;
            border: none;
            font-size: 20px;
        }

        .OKBG {
            background-color: #ff0090;
        }

        body.modal-open {
            margin-right: 0px;
        }

        .nav_pro {
            padding: 3.5%;
            z-index: 1;
        }

        #GoodsListDiv .goods {
        }

        .down {
            display: none;
        }
    </style>
    <script>
        var employees = [{ "id": 0, "name": "雪仑尔大毛跟四件套四件套四件套四件套四件套四件套顶顶顶顶", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49.5", "image_url": "/Content/img/mj.jpg" },
               { "id": 1, "name": "Dior香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "909.33", "image_url": "/Content/img/xs.jpg" },
               { "id": 2, "name": "床品四件套", "abstract": "纯棉四件套 酒店式风格 简约大气 舒适自然", "quantity": 3, "price": "798", "image_url": "/Content/img/cp.jpg" },
            { "id": 3, "name": "餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "488", "image_url": "/Content/img/cj.jpg" },
            { "id": 4, "name": "雪仑尔21 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/xmj.jpg" },
            { "id": 5, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" },
            { "id": 6, "name": "Miss Dior迪奥小姐香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "49", "image_url": "/Content/img/xs.jpg" },
            { "id": 7, "name": "诸暨香榧158g ", "abstract": "饱满完整 入口酥香松脆", "quantity": 3, "price": "49.00", "image_url": "/Content/img/xxj.jpg" },
            { "id": 8, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
            { "id": 9, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
           { "id": 10, "name": "雪仑尔大毛跟四件套四件套四件套四件套四件套四件套顶顶顶顶顶顶顶顶顶顶顶四件套四件套四件套", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/mj.jpg" },
               { "id": 11, "name": "Dior香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "909.00", "image_url": "/Content/img/xs.jpg" },
               { "id": 12, "name": "床品四件套", "abstract": "纯棉四件套 酒店式风格 简约大气 舒适自然", "quantity": 3, "price": "798", "image_url": "/Content/img/cp.jpg" },
            { "id": 13, "name": "餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "488", "image_url": "/Content/img/cj.jpg" },
            { "id": 14, "name": "雪仑尔21 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/xmj.jpg" },
            { "id": 15, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" },
            { "id": 16, "name": "Miss Dior迪奥小姐香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "49", "image_url": "/Content/img/xs.jpg" },
            { "id": 17, "name": "诸暨香榧158g ", "abstract": "饱满完整 入口酥香松脆", "quantity": 3, "price": "49.00", "image_url": "/Content/img/xxj.jpg" },
            { "id": 18, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
          { "id": 19, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" }, ];
        var employees1 = [{ "id": 0, "name": "雪仑尔大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/mj.jpg" },
            { "id": 1, "name": "Dior香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "990", "image_url": "/Content/img/xs.jpg" },
            { "id": 2, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" },
            { "id": 3, "name": "Miss Dior迪奥小姐香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "49", "image_url": "/Content/img/xs.jpg" },
            { "id": 4, "name": "诸暨香榧158g ", "abstract": "饱满完整 入口酥香松脆", "quantity": 3, "price": "49.00", "image_url": "/Content/img/xxj.jpg" },
             { "id": 5, "name": "诸暨香榧158g ", "abstract": "饱满完整 入口酥香松脆", "quantity": 3, "price": "49.00", "image_url": "/Content/img/xxj.jpg" },
            { "id": 7, "name": "床品四件套", "abstract": "纯棉四件套 酒店式风格 简约大气 舒适自然", "quantity": 3, "price": "798", "image_url": "/Content/img/cp.jpg" },
            { "id": 8, "name": "餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "488", "image_url": "/Content/img/cj.jpg" },
            { "id": 9, "name": "雪仑尔21 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/xmj.jpg" },
            { "id": 10, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" },
        ];
        var employees2 = [{ "id": 0, "name": "雪仑尔大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/mj.jpg" },
               { "id": 1, "name": "Dior香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "990", "image_url": "/Content/img/xs.jpg" },
               { "id": 2, "name": "床品四件套", "abstract": "纯棉四件套 酒店式风格 简约大气 舒适自然", "quantity": 3, "price": "798", "image_url": "/Content/img/cp.jpg" },
            { "id": 3, "name": "餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "488", "image_url": "/Content/img/cj.jpg" },
            { "id": 4, "name": "雪仑尔21 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/xmj.jpg" },
            { "id": 5, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" },
            { "id": 6, "name": "Miss Dior迪奥小姐香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "49", "image_url": "/Content/img/xs.jpg" },
            { "id": 7, "name": "诸暨香榧158g ", "abstract": "饱满完整 入口酥香松脆", "quantity": 3, "price": "49.00", "image_url": "/Content/img/xxj.jpg" },
            { "id": 8, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
            { "id": 9, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
        ];
        var employees3 = [{ "id": 0, "name": "雪仑尔大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/mj.jpg" },
            { "id": 1, "name": "Dior香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "990", "image_url": "/Content/img/xs.jpg" },
            { "id": 2, "name": "床品四件套", "abstract": "纯棉四件套 酒店式风格 简约大气 舒适自然", "quantity": 3, "price": "798", "image_url": "/Content/img/cp.jpg" },
            { "id": 3, "name": "餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "488", "image_url": "/Content/img/cj.jpg" },
            { "id": 4, "name": "雪仑尔21 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/xmj.jpg" },
            { "id": 5, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" },
            { "id": 6, "name": "Miss Dior迪奥小姐香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "49", "image_url": "/Content/img/xs.jpg" },
            { "id": 7, "name": "诸暨香榧158g ", "abstract": "饱满完整 入口酥香松脆", "quantity": 3, "price": "49.00", "image_url": "/Content/img/xxj.jpg" },
            { "id": 8, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
           { "id": 8, "name": "雪仑尔51 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/cp.jpg" },
           { "id": 10, "name": "Dior香水礼盒", "abstract": "EDP100ml 优雅大胆 浪漫诱惑", "quantity": 3, "price": "990", "image_url": "/Content/img/xs.jpg" },
            { "id": 11, "name": "床品四件套", "abstract": "纯棉四件套 酒店式风格 简约大气 舒适自然", "quantity": 3, "price": "798", "image_url": "/Content/img/cp.jpg" },
            { "id": 12, "name": "餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "488", "image_url": "/Content/img/cj.jpg" },
            { "id": 13, "name": "雪仑尔21 全面加厚大毛巾", "abstract": "100%纯棉 精致绣花 多色搭配 吸水性好", "quantity": 3, "price": "49", "image_url": "/Content/img/xmj.jpg" },
            { "id": 14, "name": "唐山瓷餐具套装", "abstract": "欧式餐具 限量发售 正品骨瓷 磨砂质感", "quantity": 3, "price": "49", "image_url": "/Content/img/cj.jpg" }, ];
        var employees4 = [];

        var goodsList = [employees, employees1, employees2, employees3, employees4];
        var col = 0;  //被选中的列
        var col1row = 0; //被选中第一列的行数
        var col2row = 0; //被选中第二列的行数
        var col3row = 0; //被选中第三列的行数
        var mid = -1; //物品列数

        var yn = 0; //判断购物车中是否有选中的商品
        var no = 0;    //备选中商品在购物车的第几个
        var now = 0;
        var curIndex = 0;
        var isModal = false;//是否弹出对话框
        function keyFunction() {
            try {
                if (isOrder) {
                    return false;
                }
                if (isModal == false) {
                    if (event.keyCode == 37) {
                        if ($("div.goods", "#GoodsListDiv").length < 1) {
                            col = 0
                            $("#nav").find("li.active").removeClass("menuchangeBG");
                            $("#Showgoods").find(".goods").removeClass("CarBG");
                            $("#Showgoods").find(".goods").find("button").removeClass("OKBG");
                        } else {
                            left();
                        }
                    } else if (event.keyCode == 39) {
                        if ($("div.goods", "#GoodsListDiv").length > 0) {
                            right();
                        } else if ($("div.goods", "#Buycar").length > 0 && col != 2) {
                            col = 2
                            $("#nav").find("li.active").addClass("menuchangeBG");
                            $("#Showgoods").find(".goods").eq(0).addClass("CarBG").click();
                        }
                    } else if (event.keyCode == 40) {
                        down();
                    } else if (event.keyCode == 38) {
                        up();
                    } else if (event.keyCode == 13) {
                        enterkey();
                    } else if (event.keyCode == 48) {
                        //  back();
                    }
                } else {
                    if (event.keyCode == 13) {
                        enterkey();
                    } else if (event.keyCode == 48) {
                        // back();
                    }
                }
            }
            catch (e) {
            }

        }

        //for andriod
        function onKeyDown(event) {
            try {
                if (isOrder) {
                    return false;
                }
                if (isModal == false) {
                    if (event == code_left) {
                        if ($("div.goods", "#GoodsListDiv").length < 1) {
                            col = 0
                            $("#nav").find("li.active").removeClass("menuchangeBG");
                            $("#Showgoods").find(".goods").removeClass("CarBG");
                            $("#Showgoods").find(".goods").find("button").removeClass("OKBG");
                        } else {
                            left();
                        }
                    } else if (event == code_right) {
                        if ($("div.goods", "#GoodsListDiv").length > 0) {
                            right();
                        } else if ($("div.goods", "#Buycar").length > 0 && col != 2) {
                            col = 2
                            $("#nav").find("li.active").addClass("menuchangeBG");
                            $("#Showgoods").find(".goods").eq(0).addClass("CarBG").click();
                        }
                    } else if (event == code_down) {
                        down();
                    } else if (event == code_up) {
                        up();
                    } else if (event == code_enter) {
                        enterkey();
                    } else if (event == code_back) {
                        window.Android.goHome();
                    }
                } else {
                    if (event == code_enter) {
                        enterkey();
                    } else if (event == code_back) {
                        //backs();
                    }
                }
            }
            catch (e) {
            }
        }

        //判断光标是否选中确认购买
        function enterkey() {
            //关闭模态
            if (isModal) {
                hideModal();
                return false;
            }
            if (col == 0) { }
            else if (col == 1) {//添加商品到购物车
                var src = $(".changeBG").find("img").attr("src");
                var price = $(".changeBG").find(".price").text();
                var name = $(".changeBG").find(".name:eq(0)").text();
                var productId = $(".changeBG").attr("productId");
                var total = parseInt($(".changeBG").attr("total"));
                var obj = $("#Buycar").find(".goods[productId=" + productId + "]");
                if (obj.length == 0) {
                    //在购物车中加入商品
                    var car = "<div class='carTemp goods' style=''>"
                    car += "<div style='margin-bottom:6%;width:100%;height:100%;overflow:hidden;background-color:#000000;background-color:rgba(0,0,0,0.4);'>"
                    car += "<div style='float:left;width:33%;height:100%'><img style='width:100%;height:100%;' src='/Content/img/mj.jpg'></div>"
                    car += "<div style='float:left;width:57%;margin-left:5%;padding-top:1%;padding-bottom:1%'>"
                    car += "<p class='sname' style='overflow:hidden;height:auto; white-space:nowrap; word-break:keep-all;text-overflow:ellipsis;'></p>"
                    car += "<p style='text-align:right;'>"
                    car += "￥<span class='sprice'>49</span>&nbsp;&nbsp;X"
                    car += "<span class='snum'>1</span>"
                    cargood += "</p></div></div></div>"
                    var cargood = $(car);
                    if (name.length > 16) {
                        name = name.substr(0, 16) + "...";
                    }
                    cargood.find("p.sname").text(name);
                    cargood.find("span.sprice").text(price);
                    cargood.find("img").attr("src", src);
                    cargood.attr("productId", productId);
                    cargood.attr("id", productId);
                    $("#Buycar").prepend(cargood);
                }
                else {
                    //在购物车中商品数量+1
                    var objNum = obj.find(".snum");
                    if (parseInt(objNum.text()) < total) {
                        objNum.text(parseInt(objNum.text()) + 1);
                    }
                    else {
                        var objs = {};
                        objs.name = name;
                        objs.total = total;
                        objs.src = src;
                        objs.num = obj.find(".snum").text();
                        message(objs);
                    }
                }
            }
            else if (col == 2) {
                var carGood = $(".CarBG");
                if (carGood.find("button").length == 0) {
                    var cou = $(".CarBG").find(".snum");
                    if (cou.text() > 1) {
                        cou.text(cou.text() - 1);
                    }
                    else {
                        if ($(".CarBG").next().length > 0) {
                            var nextgood = $(".CarBG").next();
                            $(".CarBG").remove();
                            nextgood.addClass("CarBG");
                        } else if ($(".CarBG").prev().length > 0) {
                            var prevgood = $(".CarBG").prev();
                            $(".CarBG").remove();
                            prevgood.addClass("CarBG");
                        } else {
                            $(".CarBG").remove();
                            left();
                        }
                    }
                } else {
                    $("#Showgoods").find("#OK").click();
                    return false;
                }
            }
            getCarTotal();
        }
        function getCarTotal() {
            var sumMoney = 0.00;
            $("#Buycar").find(".goods").each(function (i, v) {
                var p = Number($(this).find(".sprice").text());
                var c = $(this).find(".snum").text() * 1;
                var t = p * c;
                sumMoney = sumMoney + t;
                sumMoney = Math.round(sumMoney * 100) / 100;
            });
            var t = sumMoney + "";
            if (t.indexOf(".") == -1) {
                sumMoney = t + ".00";
            }
            $("#Showgoods").find("#sum").text(sumMoney);
            //
            if ($("#Buycar").find("div.goods").length > 4) {
                $(".card").css("display", "block");
            }
            else {
                $(".card").css("display", "none");
            }
        }
        //添加数据
        function Addlist(list, isdown) {
            if (list.length == 0) {
                //tipinfo("当前分类下暂无商品!");
                return false;
            }
            var strTemp = "<div  postionindex='0' style='width:33%;height:33%;overflow:hidden;float:left;position:relative;'>";
            strTemp += "<div id='cg' style='width:100%;height:100%;'>";
            strTemp += "<div style='width:100%;height:100%;float:left;position:relative;'>";
            strTemp += "<img style='width:100%;height:100%' src='/Content/img/mj.jpg'>";
            strTemp += "<div class='defaultCover' style='position:absolute;bottom:0px;float:left;width:100%;padding-top:10px;overflow:hidden;background-color:#000000;background-color:rgba(0,0,0,0.6);height:15%;height:15%;padding:0 0px;margin:0 auto;'>";
            strTemp += "<div class='name' style='overflow:hidden;text-align:center; font-size:18px;height:auto; white-space:nowrap; word-break:keep-all;text-overflow:ellipsis;width:100%;position:relative; vertical-align:middle;'>雪仑尔大毛巾</div></div></div>";
            strTemp += "<div class='cover' style='position:relative;top:0px;left:0px; background:rgba(0,0,0,0.8); height:100%; width:100%;'>";
            strTemp += "<div style='overflow:hidden;text-overflow:ellipsis;text-align:center;width:100%;position:relative;top:-75%;font-size:20px;'>";
            strTemp += "<p class='name'> 雪仑尔大毛巾</p> <p style='color:#fcff21;vertical-align:middle;font-size:28px;'><span>￥</span><span class='price'>49</span></p>";
            strTemp += "</div></div></div></div>";
            var goodDiv = $("#GoodsListDiv");
            for (i = 0; i < list.length; i++) {
                var goodobj = $(strTemp);
                goodobj.find(".name").text(list[i].name);
                goodobj.find(".price").text(list[i].price);
                goodobj.find("img").attr("src", "/content/img/loading.png").attr("data-url", list[i].image_url).lazyload({
                    failure_limit: 10,
                    effect: "fadeIn",
                    data_attribute: "url"
                });
                goodobj.attr("postionindex", i % 3);
                goodobj.attr("total", list[i].quantity);
                goodobj.attr("productId", list[i].id);
                goodobj.attr("id", "" + list[i].id).removeClass("temp").addClass("goods nav_pro").show();
                goodDiv.append(goodobj);
            }

            //goodDiv.append(str);
            //$("img", "#GoodsListDiv").load(function () {
            //    $(this).hide();
            //    $(this).fadeIn("1000");
            //});
            // 异步加载图片，实现逐屏加载图片
            //$("img", "#GoodsListDiv").scrollLoading();

        }

    </script>
</head>
<body>
    <div style="width:auto;overflow:hidden; height:100%;">
        @*<div class="temp" postionindex="0" style="width:33%;height:33%;overflow:hidden;float:left;display:none;position:relative;">
            <div id="cg" style="width:100%;height:100%;">
                <div style="width:100%;height:100%;float:left;position:relative;">
                    <img style="width:100%;height:100%" src="/Content/img/mj.jpg">
                    <div class="defaultCover" style="position:absolute;bottom:0px;float:left;width:100%;padding-top:10px;overflow:hidden;
            background-color:#000000;background-color:rgba(0,0,0,0.6);height:15%;height:15%;padding:0 0px;margin:0 auto;">
                        <div class="name" style="overflow:hidden; text-align:center; font-size:18px;height:auto; white-space:nowrap; word-break:keep-all;text-overflow:ellipsis;width:100%;position:relative;
            vertical-align:middle;">雪仑尔大毛巾</div>
                    </div>
                </div>
                <div class="cover" style="position:relative;top:0px;left:0px; background:rgba(0,0,0,0.8); height:100%; width:100%;">
                    <div style="overflow:hidden;text-overflow:ellipsis;text-align:center;width:100%;position:relative;top:-75%;font-size:20px;">
                        <p class="name"> 雪仑尔大毛巾</p>
                        <p style="color:#fcff21;vertical-align:middle;font-size:28px;"><span>￥</span><span class="price">49</span></p>
                    </div> 
                </div>
            </div>
        </div>*@
        @*<div class="carTemp goods" style="display:none;">
                <div style="margin-bottom:6%;width:100%;height:100%;overflow:hidden;background-color:#000000;background-color:rgba(0,0,0,0.4);">
                    <div style="float:left;width:33%;height:100%"><img style="width:100%;height:100%;" src="/Content/img/mj.jpg"></div>
                    <div style="float:left;width:57%;margin-left:5%;padding-top:1%;padding-bottom:1%">
                        <p class="sname" style="overflow:hidden;height:auto; white-space:nowrap; word-break:keep-all;text-overflow:ellipsis;"></p>
                        <p style="text-align:right;">
                            ￥<span class="sprice">49</span>&nbsp;&nbsp;X
                            <span class="snum">1</span>
                        </p>
                    </div>
                </div>
            </div>*@
        <div id="All" style="letter-spacing:1px;overflow:hidden;font-family:'Microsoft YaHei';height:100%;width:100%;">
            <div id="nav" style="width:21.5%;height:100%;float:left;background:url(../../Content/img/BGleft.jpg) top center no-repeat; background-size:cover;">
                <div style="height:20.5%;margin-left:30%;padding-top:30%">
                    <img src="~/Content/img/car.png" />
                </div>
                <ul id="leftMenu" class="nav nav-pills nav-stacked" style="text-align:center; font-size:xx-large;letter-spacing:4px;height:60%">
                    @*<li role="presentation" class="active" onfocus="this.blur()"><a href="#GoodsListDiv" categoryid="0" data-toggle="tab" onfocus="this.blur()"><span class="blue"><img src="~/Content/img/bjdjp.png" /></span><span class="red"><img src="~/Content/img/jrjdjp.png" /></span></a></li>
                        <li role="presentation" onfocus="return false;"><a href="#GoodsListDiv" categoryid="1" data-toggle="tab" onfocus="this.blur()"><span class="blue"><img src="~/Content/img/bxsgw.png" /></span><span class="red"><img src="~/Content/img/jrxsgw.png" /></span></a></li>
                        <li role="presentation"><a href="#GoodsListDiv" data-toggle="tab" categoryid="2" onfocus="this.blur()"><span class="blue"><img src="~/Content/img/brcyp.png" /></span><span class="red"><img src="~/Content/img/jrrcyp.png" /></span></a></li>
                        <li role="presentation" onfocus="return false;"><a href="#GoodsListDiv" data-toggle="tab" categoryid="3" onfocus="this.blur()"><span class="blue"><img src="~/Content/img/bspyl.png" /></span><span class="red"><img src="~/Content/img/jrspyl.png" /></span></a></li>
                        <li role="presentation" onfocus="return false;"><a href="#GoodsListDiv" data-toggle="tab" categoryid="4" onfocus="this.blur()"><span class="blue"><img src="~/Content/img/bddtc.png" /></span><span class="red"><img src="~/Content/img/jrddtc.png" /></span></a></li>*@
                </ul>
                <div style="width:90%;font-size:20px;color:#fff;margin-left:5%;height:20%;">
                    <hr style="margin-top:-1%" />
                    <p class="sendtype" style="margin-left:3%">注意：商城内所有商品均由本酒店服务员送货上门</p>
                </div>
            </div>
            <!--列表-->
            <div class="tab-content tab-pane active size1" style="color:#ffffff;width:54.5%;height:100%;float:left;background:url(../../Content/img/BGcenter.jpg) top center no-repeat; background-size:cover;">
                <div class="tab-pane active" id="GoodsListDiv" style="margin-top:3%;height:92%;width:95%;overflow-y:auto;overflow-y:hidden;margin-left:3%;" data-target="#GoodsListDiv">
                </div>
                <div class="down _page" style="text-align:center;width:87%;margin-left:6.5%;padding-top:3%;height:10%;margin-top:-4%; display:none;" islast="false" pagesize="9" pageindex="1">
                    <img style="width:95px;height:33px;opacity:0.4" src="~/Content/img/jt3.gif" />
                </div>
            </div>
            <!--购物车-->
            <div id="Showgoods" style="color:#ffffff;width:24%;height:100%;float:left;padding-left:2%;padding-right:1%;background:url(../../Content/img/BGright.jpg) top center no-repeat; background-size:cover;">
                <div class="but" style="margin-top:16%;height:16.5%">
                    @*<a href="@Html.Raw(Url.Action("OrderDetail"))">订单</a>*@
                    <p style="font-size:20px;letter-spacing:3px;font-weight:bold">操作提示：</p>
                    <p style="font-size:18px;display:block;" class="goodTip">选中商品按<span style="color:#fcff21">OK</span>键一次代表选择一件商品加入购物车</p>
                    <p style="font-size:18px;display:none;" class="carTip">购物车内选中的商品按<span style="color:#fcff21">OK</span>键一次则减少一件商品</p>
                </div>
                <p style="letter-spacing:2px;font-size:20px;font-weight:bold;margin-top:-6%">已选商品：</p>
                <div style="border:1px solid #ffffff;width:94%;"></div>
                <div style="height:50%;width:108%;margin-bottom:2%;">
                    <div id="Buycar" style="height:97%;width:100%;overflow:auto;overflow:hidden;margin-left:-8%;padding-left:8%;">
                    </div>
                    <div class="card" style="display:none;text-align:center;width:87%;padding-top:2%;height:10%;margin-top:-4%;">
                        <img style="width:40px;height:15px;opacity:0.6" src="~/Content/img/sg.gif" />
                    </div>
                </div>
                <div style="border:1px solid #ffffff;width:94%;margin-bottom:-3%"></div>
                <div style="height:16%;">
                    <h3>总计：<span style="color:#fcff21">￥</span><span id="sum" style="color:#fcff21">0</span></h3>
                    <div id="POK" class="goods" style="height:56%;width:105%;margin-left:-5%;margin-top:-3%;padding:2.2% 2.5% 5% 2.7%">
                        <button id="OK" data-toggle="modal" class="btn btn-primary btn-lg " tabindex=" -1" onfocus="this.blur()" onclick="pay()">马上支付</button>
                    </div>
                </div>
            </div>
            <!--显示支付结果-->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" style="height:100%; display:none;"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="height:40%;width:45%;margin-left:26%">
                    <br /><br /><br /><br /><br /><br /><br />
                    <div class="modal-content" style="background-color: #000000; background-color: rgba(0,0,0,0.7);height:100%">
                        <div class="modal-body" style="padding:3%;height:100%;overflow:hidden">
                            <table style="height:100%;width:100%;">
                                <tr>
                                    <td style="width:40%;">
                                        <div style="height:90%;width:90%;"><img style="width:100%;height:100%" /></div>
                                    </td>
                                    <td>
                                        <div id="erro" style="font-size:25px;height:100%;color:#fff;margin-left:3%;margin-top:2%">
                                            <p style="font-size:25px;width:auto;">非常抱歉</p>
                                            <p class="ts1" style="font-size:20px;color:#fff;width:auto;"></p>
                                            <p class="ts2" style="font-size:20px;margin-top:10px;color:#fff;width:auto"></p>
                                            <p class="err" style="font-size:22px;color:#fff;line-height:260%;position:absolute;bottom:0px;">
                                                本页面将在：<span class="timeClosing" style="color:#fcff21">5</span>秒后关闭
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="display:none" class="modal-footer">
                            <button href="#" class="btn close" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        <script language="JavaScript" type="text/javascript">
            window.onload = function () {
                document.onkeydown = keyFunction;
                $(document).delegate("#leftMenu li a", "click", function () {
                    var isReadResult = readCacheGoods();
                    if (isReadResult == false) {
                        $('#GoodsListDiv').html("");
                        $("._page").attr("pagesize", "9");
                        $("._page").attr("pageindex", "1");
                        $("._page").attr("isLast", "false").hide();
                        //Addlist(goodsList[$(this).attr("categoryid") * 1]);
                        getGoodList();
                    }
                });
                $(document).delegate(".nav_pro", "click", function () {
                    $('#GoodsListDiv').stop(false, true);
                    $('#GoodsListDiv').scrollTo('#' + this.id, 500);
                });

                $(document).delegate("#Buycar .goods", "click", function () {
                    // $('#Buycar').stop(false, true);
                    $('#Buycar').scrollTo('#' + this.id, 500);
                });
                if (window.localStorage) {
                    window.localStorage.clear();
                }
                setTimeout('getCategorys()', 100);
                //$("#myModal1").modal("show");
            }

        </script>
    </div>@*width:100%;height:100%;position:absolute; top :0;left:0;*@
    <div class="modal-backdrop fade" id="coverDiv" style="">
        </div>
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" style="height: 100%; display: none; overflow:hidden;" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog" style="height:40%;width:45%;margin-left:26%;">
            <br><br><br><br><br><br><br>
            <div class="modal-content" style="background-color: #000000; background-color: rgba(0,0,0,0.7);height:100%">
                <div class="modal-body" style="padding:3%;height:100%;overflow:hidden">
                    <table style="height:100%;width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:40%;">
                                    <div style="height:90%;width:90%;"><img style="width:100%;height:100%" src="http://resource.yeah-info.com/goodsInfo/43618f9d-c615-4fa2-9d25-c328225ea57d"></div>
                                </td>
                                <td>
                                    <div id="erro" style="font-size:25px;height:100%;color:#fff;margin-left:3%;margin-top:2%">
                                        <p style="font-size:25px;width:auto;">非常抱歉</p>
                                        <p class="ts1" style="font-size:20px;color:#fff;width:auto;">非常抱歉非常抱歉非常抱歉</p>
                                        <p class="ts2" style="font-size:20px;margin-top:10px;color:#fff;width:auto">非常抱歉非常抱歉非常抱歉2</p>
                                        <p class="err" style="font-size:22px;color:#fff;line-height:260%;position:absolute;bottom:0px;">
                                            本页面将在：<span class="timeClosing" style="color:#fcff21"></span>秒后关闭
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display:none" class="modal-footer">
                    <button href="#" class="btn close" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script src="~/Scripts/ShoppingMall/jquery.scrollTo.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?4f0c67f1d6c711c3ac7ca75b7fe39f77";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
