@model YeahTVApi.DomainModel.SearchCriteria.HotelConfigCriteria
<div class="row">
    <div class="col-sm-12 tab-search">
        @using (Html.BeginForm("Index", "TVHotelConfig", FormMethod.Post, new { novalidate = "novalidate" }))
        { 
            <label> 酒店名称</label>
            <span class="input-icon">
                <input id="hotelName" name="hotelName" value="@ViewBag.HotelName" class="form-control" data-provide="typeahead" autocomplete="off" />
                @Html.HiddenFor(m => m.HotelId)
                @*@Html.EditorFor(model => model.HotelId, new { htmlAttributes = new { @class = "" } })*@
            </span>
            <span class="input-icon">
                <button type="submit" class="btn btn-sm btn-success">查询</button>
            </span>
        }
        <div class="clear"></div>
    </div>
</div>
