
@model YeahTVApi.DomainModel.SearchCriteria.AuthUserDeviceTraceCriteria
<div class="row">
    <div class="col-sm-12 tab-search">
        @using (Html.BeginForm("Index", "AuthUserDeviceTrace", FormMethod.Post, new { novalidate = "novalidate" }))
        {
            <label> 用户名称</label>
            <span class="input-icon">
                <input id="UserName" name="UserName" value="@ViewBag.UserName" class="form-control" data-provide="typeahead" autocomplete="off" />
                @Html.HiddenFor(m => m.UserId)
            </span>
            <label> 设备号</label>
            <span class="input-icon">
                @Html.EditorFor(model => model.DeviceNo, new { htmlAttributes = new { @class = "" } })
            </span>
            <span class="input-icon">
                <button type="submit" class="btn btn-sm btn-success">查询</button>
            </span>
        }
        <div class="clear"></div>
    </div>
</div>