@charset "UTF-8";
body { font-size: 16px; }

.Clabeltext { font-family: "黑体", sans-serif; }

.Cwrap { min-width: 320px; max-width: 360px; margin-left: auto; margin-right: auto; }

.Ctextover { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.Cpin { position: fixed; }
.Cpin.top { top: 0; }
.Cpin.right { right: 0; }
.Cpin.bottom { bottom: 0; }
.Cpin.left { left: 0; }
.Cpin.full { width: 100%; }

.TV_main { width: 100%; min-width: 1280px; }
.TV_main .lbox { background-color: #f0bc68; height: 100%; min-height: 720px; }
.TV_main .rbox { background-color: #f7f6f5; height: 100%; min-height: 720px; }
.TV_main .imglistclip { width: 740px; height: 220px; margin-left: auto; margin-right: auto; }
.TV_main .imglist { margin-top: 35px; }
.TV_main .imglist li { margin-right: 8px; }
.TV_main .imglist .img { height: 180px; border: 2px solid rgba(255, 255, 255, 0.3); }
.TV_main .desc { width: 740px; margin-left: auto; margin-right: auto; }
.TV_main .desc .item { margin-top: 20px; }
.TV_main .desc .title { font-size: 1.75rem; line-height: 1.875rem; height: 30px; color: #996a1f; font-family: "黑体", sans-serif; }
.TV_main .desc .title .line { height: 6px; display: block; margin-top: 11px; border-top: 1px solid rgba(106, 83, 65, 0.15); border-bottom: 1px solid rgba(106, 83, 65, 0.15); }
.TV_main .desc .title .txt { text-align: center; position: absolute; background-color: #f0bc68; font-family: "黑体", sans-serif; }
.TV_main .desc .text { color: white; font-size: 1.25rem; }
.TV_main .intro { width: 364px; margin-left: auto; margin-right: auto; margin-top: 30px; }
.TV_main .intro .top { padding-top: 105px; background-repeat: no-repeat; background-position: center middle; background-image: url(../img/intro_text.png?t=0424); }
.TV_main .intro .top span { color: white; font-size: 2.5rem; line-height: 2.5rem; font-weight: bold; display: inline-block; background-color: #ebb660; font-family: "黑体", sans-serif; }
.TV_main .intro .title { font-size: 1.875rem; line-height: 2.5rem; font-family: "黑体", sans-serif; }
.TV_main .intro .info { height: 280px; font-size: 1.125rem; line-height: 1.75rem; }
.TV_main .brand { width: 364px; margin-left: auto; margin-right: auto; }
.TV_main .brand .title { color: #454545; font-size: 28px; position: relative; height: 28px; }
.TV_main .brand .title .line { height: 6px; display: block; margin-top: 12px; border-top: 1px solid #dcdcdb; border-bottom: 1px solid #dcdcdb; }
.TV_main .brand .title .txt { width: 230px; text-align: center; left: 50%; margin-left: -115px; position: absolute; background-color: #f7f6f5; font-family: "黑体", sans-serif; }
.TV_main .brand .item { text-align: center; border-left: 2px solid white; border-top: 2px solid white; margin-left: -2px; margin-top: -2px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding-top: 10px; padding-bottom: 10px; }
.TV_main .brand .icon { width: 100px; height: 34px; display: inline-block; background-image: url(../img/brand_icons.png?t=0424); }
.TV_main .brand .icon.xy { background-position: 0 0; }
.TV_main .brand .icon.mx { background-position: -100px 0; }
.TV_main .brand .icon.ht { background-position: -200px 0; }
.TV_main .brand .icon.qj { background-position: 0 -50px; }
.TV_main .brand .icon.xc { background-position: -100px -50px; }
.TV_main .brand .icon.hy { background-position: -200px -50px; }
.TV_main.style1 .lbox { background-color: #45b0e6; }
.TV_main.style1 .intro .top { background-position: 0 -150px; }
.TV_main.style1 .intro .top span { background-color: #45b0e6; }
.TV_main.style1 .desc .title .txt { color: #0b6b9c; background-color: #45b0e6; }
.TV_main.style2 .lbox { background-color: #d980ba; }
.TV_main.style2 .intro .top { background-position: 0 -300px; }
.TV_main.style2 .intro .top span { background-color: #d980ba; }
.TV_main.style2 .desc .title .txt { color: #744062; background-color: #d980ba; }
.TV_main.style3 .lbox { background-color: #97cc20; }
.TV_main.style3 .intro .top { background-position: 0 -450px; }
.TV_main.style3 .intro .top span { background-color: #97cc20; }
.TV_main.style3 .desc .title .txt { color: #618511; background-color: #97cc20; }
.TV_main.style4 .lbox { background-color: #e1b38f; }
.TV_main.style4 .intro .top { background-position: 0 -600px; }
.TV_main.style4 .intro .top span { background-color: #e1b38f; }
.TV_main.style4 .desc .title .txt { color: #876d59; background-color: #e1b38f; }
