.ui_mask {
    background-color: gray;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 3;
    filter: alpha(opacity=20);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
}

.ui_mask_msg {
    background-image: url(../img/load_mask.gif);
    background-repeat: no-repeat;
    left: 50%;
    position: fixed !important; /* 浮动对话框 */
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 5;
    height: 200px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
