@model YeahTVApi.DomainModel.SearchCriteria.HotelMovieTraceNoTemplateCriteria
<div class="row">

    <div class="col-sm-12 tab-search">
        @using (Html.BeginForm("Index", "BackupDevice", FormMethod.Post, new { novalidate = "novalidate" }))
        {
          
        }
        <div class="clear"></div>
    </div>
</div>