<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--添加路由限制，修改后需要重新启动IIS{controller}/{action}/{format}-->
  <add key="app.route.format" value="^(tv|debug)$"/>

  <!--网站配置项-->
  <add key="CacheInterval" value="7200000"/>
  <add key="BaiduWeatherURL" value="http://api.map.baidu.com/telematics/v3/weather?output=json&amp;ak=yZceHDADwOOMiCurfghmSH8G&amp;location="/>

  <!--https port-->
  <add key="httpPort" value="804" />
  <add key="httpsPort" value="5554" />
  
  <add key="ResourceSiteAddress" value="http://testcenter.yeah-info.com:8009/" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="IsDebug" value="false" />
  <add key="MongoConnectionString" value="mongodb://root:yeahmediamongodb@120.132.49.177:27017"/>
  <add key="MongoDbName" value="YeahTV_Dev"/>
  <add key="ExpiresMinutes" value="3" />
</appSettings>
