<connectionStrings>
  <add  connectionString="Data Source=10.1.255.27\interweb;Initial Catalog=WebSiteDBTest;User ID=web_app;Password=webapp@2012" name="RELEASE(10.1.255.27)"/>
  <add connectionString="Data Source=10.1.249.44\website;Initial Catalog=WebsiteDB;User ID=htweb;Password=HtWeb_2010" name="TEST(10.1.249.44)"/>

  <add connectionString="Data Source=10.1.249.93\website;Initial Catalog=WebsiteDB;User ID=website;Password=hanting@2009" name="DEV(10.1.249.93)"/>
  <add connectionString="Data Source=10.1.249.93\website;Initial Catalog=GREENTREE;User ID=website;Password=hanting@2009" name="GREENTREE"/>
  <add name="HTApi" providerName="System.Data.SqlClient"
      connectionString="Data Source=10.1.255.27\interweb;Initial Catalog=WebSiteDBTest;User ID=web_app;Password=webapp@2012"/>
  <add name="PREVIEW" connectionString="Data Source=10.1.251.13;Initial Catalog=WebsiteDBTest;User ID=sa;Password=hanting@2013_13" providerName="System.Data.SqlClient"/>
  <add name="MYLOCAL" providerName="System.Data.SqlClient"
       connectionString="Data Source=127.0.0.1;Initial Catalog=DMS;User ID=sa;Password=991231"/>
</connectionStrings>