@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <title>TV积分兑换</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/jinjiangcss/style.css" rel="stylesheet" />
    <style>
        .headerWx .resultIcon span {
            background: #EE6146;
        }

            .headerWx .resultIcon span img {
                width: 60%;
                height: 60%;
            }

       #tip {
            color: red;
            letter-spacing:0;
        }
    </style>
    <script>
        window.onload = function () { 
            if (localStorage && localStorage.bandUser)
                if (localStorage.bandUser == "true")
                    $(".fontColor").text("未绑定会员账号，请先绑定");
        }

    </script>
</head>
<body>

    <div data-role="page" id="pageone" class="main">
        <div data-role="header" class="headerWx">
            <img src="~/Content/jinjiangcss/topback.png" id="topImg" />
            <div class="top">
                <span>TV积分兑换</span>
                <span class="backIcon" onclick="history.back();"><img src="~/Content/jinjiangcss/iconfont-fanhui.png" /></span>
            </div>
            <div class="resultIcon">
                <span><img src='~/Content/jinjiangcss/iconfont-cuo.png' /></span>
            </div>
        </div>

        <div data-role="main" class="content">
            <p class="resultTip"> </p><p class="resultTip"> </p><p class="resultTip"> </p>
            <p class="resultTip fontColor1"></p>
            <ul>
                <li>
                    <h1 id="tip" class="resultTip fontColor">未知的错误，无法兑换</h1>
                    
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
