@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <title>兑换结果</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/jinjiangcss/style.css" rel="stylesheet" />
    <style>
        .headerWx .resultIcon span {
            background: #EE6146;
        }

            .headerWx .resultIcon span img {
                width: 60%;
                height: 60%;
            }
    </style>
    <script>
        window.onload = function () {
            if (localStorage && localStorage.orderId) {
                $(".order").text(localStorage.orderId);
                $(".orderli").show();
            }
        }

    </script>
</head>
<body>

    <div data-role="page" id="pageone" class="main">
        <div data-role="header" class="headerWx">
            <img src="~/Content/jinjiangcss/topback.png" id="topImg" />
            <div class="top">
                <span>兑换结果</span>
                <span class="backIcon" onclick="history.back();">
                    <img src="~/Content/jinjiangcss/iconfont-fanhui.png" />
                </span>
            </div>
            <div class="resultIcon">
                <span><img src='~/Content/jinjiangcss/iconfont-cuo.png' /></span>
            </div>
        </div>

        <div data-role="main" class="content">
            <p class="resultTip"> </p>
            <p class="resultTip"> </p>
            <ul>
                <li>
                    <h1 class="resultTip">兑换失败</h1>
                    <h1 class="resultTip">请重新尝试</h1>
                </li>
                <li class="orderli hide">
                    <h1>订单编号：</h1>
                    <p><span class="order"></span></p>
                </li>
            </ul>
        </div>
        <div data-role="footer" class="bottoms">
            <div class="footer"><span onclick="history.go(-1);">返回</span></div>
        </div>
    </div>
</body>
</html>
