<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebSelfHelpCheckIn" />
                <binding name="ICrsSoap" />
                <binding name="RoomStatusModifySoap" />
                <binding name="BasicHttpBinding_IRedisCacheService" />
                <binding name="httpBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ICrsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IImageUpdate">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMemberExtraService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IMemberService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPmsService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hq-v2web-13.pms:8090/WebSelfHelpCheckInService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebSelfHelpCheckIn" contract="AutoCheckInService.IWebSelfHelpCheckIn" name="BasicHttpBinding_IWebSelfHelpCheckIn" />
            <endpoint address="http://vwebsite02.httest.loc:2257/MemberExtraService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMemberExtraService" contract="MemberExtraService.IMemberExtraService" name="WSHttpBinding_IMemberExtraService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://vwebsite02.httest.loc:2257/MemberService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMemberService" contract="MemberService.IMemberService" name="WSHttpBinding_IMemberService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://10.1.81.69:8011/RoomStatusModify.asmx" binding="basicHttpBinding" bindingConfiguration="RoomStatusModifySoap" contract="PMSRoomStatusService.RoomStatusModifySoap" name="RoomStatusModifySoap" />
            <endpoint address="http://10.1.249.219:8090/RedisCacheService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedisCacheService" contract="RedisCache.IRedisCacheService" name="BasicHttpBinding_IRedisCacheService" />
            <endpoint address="http://10.1.249.75:9090/icrs.asmx" binding="basicHttpBinding" bindingConfiguration="ICrsSoap" contract="PMSICRS.ICrsSoap" name="ICrsSoap" />
            <endpoint address="http://10.1.249.75:9090/icrs.asmx" binding="customBinding" bindingConfiguration="ICrsSoap12" contract="PMSICRS.ICrsSoap" name="ICrsSoap12" />
            <endpoint address="http://10.1.81.69:8022/PmsService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPmsService" contract="PMS.IPmsService" name="WSHttpBinding_IPmsService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://vapp-web-01:8090/RedisCacheService.svc" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="RedisCache.IRedisCacheService" name="httpBinding" />
            <endpoint address="net.tcp://roger-pc/ImageUpdate.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IImageUpdate" contract="UpdateImages.IImageUpdate" name="NetTcpBinding_IImageUpdate" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>