
<script src="~/JS/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $("#btnSeveDay").click(function () {
           
        });
        $("#btnSuba").click(function () {
           
        });
    });
</script>
<body>
    <input type="button" id="btnSeveDay" value="七天"/>
    <input type="button" id="btnSuba" value="速八" />

    <a href="@Url.Action("CatchSevenDay", "CatchHotel", new { brandType="七天" })">抓取七天</a>

    <a href="@Url.Action("CatchSevenDay", "CatchHotel", new { brandType = "速八" })">抓取速八</a>



    <a href="@Url.Action("Inser","CatchHotel")">维也纳</a>
</body>