<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <connectionStrings configSource="config\\dbtest.config" />
  <unity configSource="unity.config" />
  <appSettings configSource="config\\apptest.config" />
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <configProtectedData>
    <providers>
      <clear />
      <add name="KeyProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a,processorArchitecture=MSIL" keyContainerName="HZ_WebSite_Key" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRedisCacheService" maxReceivedMessageSize="2147483647" />
        <binding name="RoomStatusModifySoap" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWebSelfHelpCheckIn" maxReceivedMessageSize="2147483647" />
        <binding name="ICrsSoap" maxReceivedMessageSize="2147483647" />
        <binding name="httpBinding" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPmsService">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMemberService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IMemberExtraService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.249.219:8090/RedisCacheService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedisCacheService"
               contract="RedisCache.IRedisCacheService" name="httpBinding" />
      <endpoint address="http://10.1.81.69:8022/PmsService.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IPmsService" contract="PMS.IPmsService"
          name="WSHttpBinding_IPmsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://vwebsite02.httest.loc:2257/MemberService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMemberService"
          contract="MemberService.IMemberService" name="WSHttpBinding_IMemberService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://vwebsite02.httest.loc:2257/MemberExtraService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMemberExtraService"
          contract="MemberExtraService.IMemberExtraService" name="WSHttpBinding_IMemberExtraService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://10.1.81.69:8011/RoomStatusModify.asmx"
               binding="basicHttpBinding" bindingConfiguration="RoomStatusModifySoap"
               contract="PMSRoomStatusService.RoomStatusModifySoap" name="RoomStatusModifySoap">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://10.1.249.75:9090/WebSelfHelpCheckInService.svc"
             binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebSelfHelpCheckIn"
                contract="AutoCheckInService.IWebSelfHelpCheckIn" name="BasicHttpBinding_IWebSelfHelpCheckIn"/>
      <endpoint address="http://10.1.249.75:9090/icrs.asmx" binding="basicHttpBinding"
                bindingConfiguration="ICrsSoap" contract="PMSICRS.ICrsSoap"
                name="ICrsSoap" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="MVC" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android" />
    </staticContent>
  </system.webServer>
</configuration>