@charset "UTF-8";

.clear {
    clear: both;
    height: 0px;
    line-height: 0;
    margin: 0;
    padding: 0;
    _height: 0px;
}

.in, .footer .foot .foot-top li, .index-menu ul li, .page-tab ul li, .page-classification ul li, .selected-classification .selected-box .item, .course-detail-introduct p.collection-share span, .course-detail-registration .price, .course-detail-registration .registration, .course-detail-tab ul li, .similar-courses-list ul li, .lecturer-detail-tab ul li, .category-menu ul li, .search-tab ul li, .my-top ul li, .member-lecturer-top p.grade span, .member-lecturer-top p.grade em, .member-lecturer-top p.bottom_Table span, .member-lecturer-top p.bottom_Table em, .curriculum-management-item p.text span, .icon-release, .icon-service em, .icon-weibo em, .icon-weixin em, .icon-back, .icon-menu, .icon-time, .index-search-btn, .index-menu ul li.col_11 em, .index-menu ul li.col_22 em, .index-menu ul li.col_33 em, .index-menu ul li.col_44 em, .index-menu ul li.col_55 em, .course-detail-introduct p.collection-share span.collection i, .course-detail-introduct p.collection-share span.share i, .lecturer-detail-introduct p.name .collection i, .category-menu ul.ul_col_11 li span.col_11 em, .category-menu ul.ul_col_11 li span.col_22 em, .category-menu ul.ul_col_11 li span.col_33 em, .category-menu ul.ul_col_11 li span.col_44 em, .category-menu ul.ul_col_22 li span.col_11 em, .category-menu ul.ul_col_22 li span.col_22 em, .category-menu ul.ul_col_22 li span.col_33 em, .category-menu ul.ul_col_22 li span.col_44 em, .category-menu ul.ul_col_33 li span.col_11 em, .category-menu ul.ul_col_33 li span.col_22 em, .my-top ul li span.col_11 em, .my-top ul li span.col_11.active em, .my-top ul li span.col_22 em, .my-top ul li span.col_22.active em, .login-form-label-rc em, .login-form-label-rc em.active, .member-lecturer-top p.grade span i, .member-lecturer-menu li .more i, .member-icon-user, .member-icon-course, .member-icon-my-course, .member-icon-interaction, .member-icon-message, .member-lecturer-nav li .more, .curriculum-management-item .delete_btn, .btn, .formbtn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. 0. sassCore's style */
html {
    font-family: 'Microsoft YaHei','STXihei', sans-serif,Verdana; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-overflow-scrolling: touch; /* 0 */
    font-size: 312.5%; /* 0 */
    height: 100%;
}


/** 1. Remove default margin 0. sassCore's style. */
body {
    margin: 0; /* 1 */
    font-size: 0.32rem; /* 0 */
    line-height: 1.5; /* 0 */
    color: #333; /* 0 */
    background-color: #fff; /* 0 */
    min-width: 320px;
    height: 100%;
}
/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. 3. Correct `inline-block` display in IE 6/7. */
audio, canvas, progress, video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}
    /** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
    audio:not([controls]) {
        display: none;
        height: 0;
    }
/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template {
    display: none;
}
/* Links ========================================================================== */
/** 1. Remove the gray background color from active links in IE 10. 2. Improve readability when focused and also mouse hovered in all browsers. 0. sassCore's style. */
a {
    background: transparent; /* 1 */ /* 0 */
    text-decoration: none;
    color: #333;
}

    a:active, a:hover {
        outline: 0; /* 2 */
    }

    a:hover {
        color: #1a1a1a;
    }
/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
    border-bottom: 1px dotted;
}
/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong {
    font-weight: bold;
}
/** Address styling not present in Safari and Chrome. */
dfn {
    font-style: italic;
}
/** Address styling not present in IE 8/9. */
mark {
    background: #ff0;
    color: #000;
}
/** Address inconsistent and variable font size in all browsers. */
small {
    font-size: 80%;
}
/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
/* Embedded content ========================================================================== */
/** 1. Remove border when inside `a` element in IE 8/9/10. 2. Improve image quality when scaled in IE 7. 0. sassCore's style. */
img {
    border: 0; /* 1 */
    vertical-align: middle; /* 0 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

em, i {
    font-style: normal;
}
/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
    overflow: hidden;
}
/* Grouping content ========================================================================== */
/** Address differences between Firefox and other browsers. */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
/** 1. Contain overflow in all browsers. 2. Improve readability of pre-formatted text in all browsers. */
pre {
    overflow: auto; /* 1 */
    white-space: pre; /* 2 */
    white-space: pre-wrap; /* 2 */
    word-wrap: break-word; /* 2 */
}
/** 1. Address odd `em`-unit font size rendering in all browsers. 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp {
    font-family: monospace, monospace; /* 1 */
    _font-family: 'courier new', monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, optgroup, select, textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}
/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
    overflow: visible;
}

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select {
    text-transform: none;
}

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

    /** Re-set default cursor for disabled elements. */
    button[disabled], html input[disabled] {
        cursor: default;
    }

    /** Remove inner padding and border in Firefox 4+. */
    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input {
    line-height: normal;
}

    /** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box; /* 1 */
        padding: 0; /* 2 */
        *height: 13px; /* 3 */
        *width: 13px; /* 3 */
    }

    /** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    /** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
    input[type="search"] {
        -webkit-appearance: textfield; /* 1 */
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box; /* 2 */
        box-sizing: content-box;
    }

        /** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

/** Define consistent border, margin, and padding. */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. 3. Correct alignment displayed oddly in IE 6/7. */
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
    *margin-left: -7px; /* 3 */
}

/** 1. Remove default vertical scrollbar in IE 8/9/10/11. 0. sassCore's style */
textarea {
    overflow: auto; /* 1 */
    resize: vertical; /* 0 */
}

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
    font-weight: bold;
}

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

/** Address CSS quotes not supported in IE 6/7. */
q {
    quotes: none;
}

html, button, input, select, textarea {
    font-family: "Microsoft YaHei", "STXihei", Helvetica, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0;
}

ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none outside none;
}

h1, h2, h3 {
    line-height: 2;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, hr, dt, dd, dl {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

em, i {
    font-style: normal;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
}

input.placeholder, textarea.placeholder {
    color: #ccc;
}

.hide {
    display: none;
}

.main {
    height: 100%;
    overflow-x: hidden;
}

.headerWx {
    height: 25%;
    /*background-color: #01B4EE;*/
    position: relative;
    /*background:url('topback.png') no-repeat center bottom;*/
    width: auto;
}

#topImg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

.headerWx .top .backIcon img {
    height: .4rem;
    width: .4rem;
}

.headerWx .top {
    position: relative;
    z-index: 100;
    text-align: center;
    color: #fff;
}

    .headerWx .top span:first-child {
        text-align: center;
        padding: 3% 0;
        color: #fff;
        font-size: .35rem;
        width: 100%;
        display: inline-block;
    }

    .headerWx .top .backIcon {
        position: absolute;
        left: .1rem;
        top: .2rem;
        color: #fff;
    }

.headerWx .resultIcon {
    /*background-color:#c0c0c0;*/
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

    .headerWx .resultIcon span {
        height: 1.4rem;
        width: 1.4rem;
        margin-bottom: -.7rem;
        line-height: 1.4rem;
        background: #34CF95;
        display: inline-block;
        vertical-align: bottom;
        border-radius: 50%;
    }


.content {
    padding-top: 1rem;
    background: #fff;
    padding-left: .2rem;
    padding-right: .2rem;
    color: #01B7EE;
}

    .content .resultTip {
        width: 100%;
        text-align: center;
    }


    .content li {
        padding: .14rem 0;
        font-size: .2rem;
    }

        .content li h1 {
            height: .6rem;
            line-height: .6rem;
            padding-left: .1rem;
            letter-spacing: .06rem;
        }

        .content li p {
            padding-left: .3rem;
            color: #000;
            line-height: .5rem;
        }

            .content li p span {
                font-size: .3rem;
                white-space: pre-wrap;
                display: inline-block;
                word-break: break-all;
            }



.bottoms {
    height: 1.4rem;
    width: 100%;
    text-align: center;
}

    .bottoms .footer {
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
        background: #F0F0F0;
    }

        .bottoms .footer span, button {
            text-align: center;
            display: inline-block;
            width: 85%;
            margin: 0 auto;
            background: #00B7F0;
            margin: 20px;
            padding: 10px;
            color: #fff;
        }

@media (max-width:320px) {
    html {
        font-size: 352.5%; /* 0 */
    }
}

@media (min-width:321px) {
    html {
        font-size: 400.5%; /* 0 */
    }
}

@media (min-width:600px) {
    html {
        font-size: 600.5%; /* 0 */
    }
}

@media (min-width:800px) {
    html {
        font-size: 800.5%; /* 0 */
    }
}
